.header-text {
    padding: 60px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 3vw;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover  {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  /* .result {
    display: none;
    position:absolute;
    z-index: 1;

    
  } */
  
  
  
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .result
  {

    display:flow-root;
  }
 

#page 
{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px black solid;
  background-color: lightslategrey;
}

.result
{
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
 
.buttonBook > button
{
  padding-right: 2px;
  padding-bottom: 2px;

}

.buttonBook p
{
font-size: 10px;
}